.container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar-open-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100%;
  width: 250px;
}

.excel-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Adjust as needed */
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.excel-cell:hover::after {
  content: attr(data-content); /* Displays full content on hover */
  white-space: normal;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 10;
  max-width: 300px;
  left: 0;
  top: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
